<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <appender name="ACCESS_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>access.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>access-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%date{ISO8601} %X{X-Forwarded-For} %X{Proto} %X{Method} %X{Path} %X{Status} %X{Content-Type} %X{User-Agent}</pattern>
        </encoder>
    </appender>

    <logger name="access_log" level="INFO" additivity="false">
        <appender-ref ref="ACCESS_LOG"/>
    </logger>

    <springProfile name="!cloud">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE"/>
        </root>
    </springProfile>
</configuration>